{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style_about.css' %}">
    <title>HyperionDev T43 - About Me</title>
</head>
<body>
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder"><strong></h1>
                <p class="lead fw-normal text-white-50 mb-0"> ABOUT ME</p>
            </div>
        </div>
    </header>
    <div class="text-center text-white">
        <br>
        <p>
            I've been coding since the age of 8 as a hobby. After a career in Audio Engineering, I picked up C#
            in 2015 and
            have recently decided to pursue a career in software development, as it would be nice to bring
            together my
            passion
            for creating and problem solving, in my career!
        </p>
        <br>
        <ul>
            <li>
                <a href="/cv" target="_blank">
                    <strong>Goto CV</strong>
                </a>
            </li>
            <li>
                <a href="/shop" target="_blank">
                    <strong>Goto Shop</strong>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>