<!-- HyperionDev Task 41 - Intro to CSS -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style_cv.css' %}">
    <title>McZane Gabriel Desir - CV Jan 2023</title>
</head>

<!-- Note: HTML tends to be quite self explanatory so I've omitted detailed comments. I've included comments on the CSS styling as this is the focus of the task-->
<!-- Please make sure to download and place the style.css file in the same folder when viewing this HTML document in a browser-->

<body>
    <main>
        <!-- Left section-->
        <section class="left">
            <div class="left-image">
                <image
                    src="{% static 'lake_photo.jpg' %}"
                    width="400px" height="400px" />
                <div class="profile">
                    <image
                        src="{% static 'mgd_profile.jpg' %}"
                        width="150px" height="150px" />
                </div>
                <h2>McZane Gabriel Desir</h2>
            </div>

            <div class="personal">
                <h3>About Me</h3>
                <br>
                <p>
                    I've been coding since the age of 8 as a hobby. After a career in Audio Engineering, I picked up C#
                    in 2015 and
                    have recently decided to pursue a career in software development, as it would be nice to bring
                    together my
                    passion
                    for creating and problem solving, in my career!
                </p>
                <br>
                <ul>
                    <li><i class="fa-sharp fa-solid fa-location-dot"></i>London, UK</li>
                    <li><i class="fa-solid fa-envelope"></i>contact@mgdesir.com</li>
                    <li><i class="fa-solid fa-phone"></i>+447984-501-569</li>
                </ul>
                <span>
                    <a href="https://www.linkedin.com/in/mczanedesir/" target="_blank">
                        <i class="fa-brands fa-linkedin"></i><strong>LinkedIn</strong>
                    </a>
                    <a href="https://github.com/DocDooom" target="_blank">
                        <i class="fa-brands fa-github"></i><strong>GitHub</strong>
                    </a>
                    <a href="https://www.artstation.com/billionaireboy" target="_blank">
                        <i class="fa-brands fa-artstation"></i><strong>Artstation</strong>
                    </a>
                </span>
            </div>
            <hr>
            <div class="skills">
                <h3><i class="fa-solid fa-gear"></i> Skills</h3>
                <ul>
                    <li>Software Development</li>
                    <li>Audio Production</li>
                    <li>Technical Art</li>
                </ul>
            </div>
            <div class="prog-languages">
                <h3><i class="fa-solid fa-computer"></i> Programming Languages</h3>
                <ul>
                    <li>Python</li>
                    <li>Javascript</li>
                    <li>C#</li>
                    <li>VEX</li>
                </ul>
            </div>
            <div class="software">
                <h3><i class="fa-solid fa-floppy-disk"></i>Software</h3>
                <ul>
                    <li>PyCharm</li>
                    <li>VSCode</li>
                    <li>Visual Studio</li>
                    <li>Unity</li>
                    <li>Houdini</li>
                    <li>Pro Tools</li>
                    <li>Logic</li>
                </ul>
            </div>
        </section>

        <!-- Right Section -->
        <section class="right">
            <div class="experience">
                <h2><i class="fa-solid fa-briefcase"></i>Work Experience</h2>
                <br>
                <ul>
                    <li>
                        <h4>Searchmetrics</h4>
                        <h5>Audio Engineer</h5>
                        <h6><i class="fa-solid fa-calendar-days"></i>July 2018 - July 2021</h6>
                        <br>
                        <p>Searchmetrics is an SEO marketing company. As the Audio Engineer of the team, I was
                            responsible for delivering
                            all audio contained in marketing material.
                            This ranged from editing and recording podcasts; to ensuring video audio quality was at
                            broadcast level.
                        </p>
                        <br>
                        <ul>
                            <li>• Employed best recording practices, keeping clean, safe and efficient working
                                environments</li>
                            <li>• Edited and delivered over 800 podcast episodes</li>
                            <li>• Maintained relationships with guest speakers </li>
                        </ul>
                    </li>
                    <br>
                    <li>
                        <h4>Trasnatech LTD.</h4>
                        <h5>Technical Sound Designer</h5>
                        <h6><i class="fa-solid fa-calendar-days"></i>April 2012 - May 2018</h6>
                        <br>
                        <p>Trasnatech is the maker of the incredibly physically accurate flight simulation software
                            AccuRC.
                            I was tasked with all sound implementation in the software.</p>
                        <br>
                        <ul>
                            <li>• In field technical/forensic sound collection</li>
                            <li>• Scale helicopters and planes can be dangerous; thus keeping a safe working environment
                                is essential</li>
                            <li>• Implemented sound behaviour in C# </li>
                            <li>• Employed an understanding of the physics behind sound to create believable soundscapes
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <br>
            <div class="education">
                <h2><i class="fa-solid fa-graduation-cap"></i>Education</h2>
                <br>
                <h4>BRUNEL UNIVERSITY (UK)</h4>
                <br>
                <h4>Psychology BSc</h4>
                <h5>September 2005 - May 2008</h5>
            </div>
            <br>
            <div class="projects">
                <h2><i class="fa-solid fa-list-check"></i>Projects</h2>
                <br>
                <ul>
                    <a href="https://github.com/DocDooom/hypdev-t26-repo" target="_blank">
                        <li><b>Task Manager</b> - Allows a team to sort, schedule and assign tasks, the software allows
                            user to review and update tasks as needed</li>
                    </a>
                    <a href="https://github.com/DocDooom/MegaPong" target="_blank">
                        <li><b>Megadrive Game</b> - This game written in C and ASM was a passion project of mine.
                            Growing up with a SEGA Megadrive I always wanted to make
                            games for the system. This game is my first (and not last) for the home console.
                        </li>
                    </a>
                    <a href="https://github.com/DocDooom/hypdev-t38" target="_blank">
                        <li><b>Semantic Similiarity</b> - This project uses the Machine Learning/ML library SpaCy to
                            classify word similarities</li>
                    </a>
                </ul>
            </div>

        </section>
    </main>
    <footer>
        <p>© Copyright 2023</p>
    </footer>
</body>

</html>